/**navigation bar**/

.navbar-default {
	background-color: #BFBFBF !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;	
	
}
.navbar-default .navbar-nav>li>a {
   font-size:20px; 
   color:#fff; 
}
.navbar-brand {
   font-size:20px; 
   color:#fff; 
   background: #fff;
}

/**header image**/
.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url(../img/crafty.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.headline {
	padding: 250px 0;
}
.headline h1 {
	color: black;
}
.headline h3 {
	color: black;
}
.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
/**featurette-divider**/
.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

/**container**/
.container-fluid {
      padding: 40px 30px;
  }
  
/**slide animation**/
.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }